<header>
  <h1>Browse Library</h1>
</header>
<!-- Card for buttons to direct to api for book source -->
<main class="container container-fluid mt-5">
  <div class="card" style="width:100%">
    <div class="card-body">
      <h5 class="card-title">Books</h5>
      <div class="input-group flex-nowrap">
        <div class="input-group-prepend">
          <!-- buttons to select library category -->
          <span id="title">
          <input class="input is-primary" type="text" placeholder="Book title" id="search-input">
          <button type="button" id="books" class="btn btn-primary btn-lg btn-block js-book-search">Go To Book</button>
          {{!-- <a href="#" class="card-link">Read from Api</a> --}}
          </span>
        </div>
      </div>
</main>
<!-- Render script for logged in users only -->
{{#if logged_in}}
<script src="/js/logout.js"></script>
<script src="/js/book-search.js"></script>

{{/if}}