<header>
  <h1>Create Post</h1>
</header>
<form>
  <div class="new-post-form">
    <label for="post-title">Post Title</label>
    <input type="post-title" id="new-post-title"/>
  </div>
  <div class="new-post-form">
    <label class="post-body">New Post</label>
    <input type="post-body" class="form-check-input" id="new-post-body"/>
  </div>
  <a href="./js/post"><button type="submit" class="btn btn-primary create-post-btn" id="create-post-btn">Submit</button></a>
  <p class="message"></p>
</form>

<script src="/js/create-post.js"></script>
