<main class="container container-fluid mt-5">
  <header>
    <h1>Create Post Here</h1>
  </header>
  <br>
  <form>
    <div class="new-post-form">
      <h5 class="post-title">Post Title</h5>
      <input type="post-title" id="new-post-title" />
    </div>
    <br>
    <div class="new-post-form">
      <h5 class="post-body">New Post</h5>
      <input type="post-body" class="form-check-input" id="new-post-body" />
    </div>
    <br>
    <br>
      <button type="submit" class="btn is-primary create-post-btn" id="create-post-btn">CREATE POST</button>
  </form>
</main>

<script src="/js/create-post.js"></script>