<main class="container container-fluid mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-2">
        <h1>Login</h1>
        <form class="form login-form">
          {{!-- <div class="form-group mb-2">
            <label class="form-label" for="email-login">Email:</label>
            <input class="form-control" type="text" id="email-login" />
          </div> --}}
          <div class="form-group mb-2">
            <label class="form-label">Name: </label>
            <input class="form-input" type="text" id="name-login" />
          </div>
          <div class="form-group mb-2">
            <label class="form-label">Password: </label>
            <input class="form-input" type="password" id="password-login" />
          </div>
          <div class="form-group">
            <button class="btn is-dark" type="submit">Login</button>
          </div>
        </form>
      </div>

{{!-- ------------------------------------------------------------- This Part is for Signup ------------------------- --}}

      <div class="col-md-6">
        <h1>Signup</h1>
        <form class="form signup-form">
          <div class="form-group mb-2">
            <label class="form-label">Name: </label>
            <input class="form-input" type="text" id="name-signup" />
          </div>
          <div class="form-group mb-2">
            <label class="form-label">Password: </label>
            <input class="form-input" type="password" id="password-signup" />
          </div>
          <div class="form-group">
            <button class="btn is-dark" type="submit">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<script src="/public/js/login.js"></script>