* {
  box-sizing: border-box;
}

header {
  margin-top: 50px;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}
h2 a:visited {
  color: var(--tertiary);
}

h2 a {
  color: var(--primary);
}